.idea
backups
.DS_Store
.env
.env.docker
notion_dump
node_modules
Cleaned_Structure_1
Cleaned_Structure_2
Cleaned_Structure_3
Cleaned_Structure_4
Cleaned_Structure_5
Cleaned_Structure_5 release v1
release*
